.pixi/
pixi.lock
pixi.toml
./data
data/
tests/tmp
*.bak
*.test

.DS_Store
docs/tutorials/*
!docs/tutorials/*.ipynb

**/*.pkl

*cpython*
__pycache__

.ipynb_checkpoints

#analysis_*
AutogluonModels# pixi environments
.pixi
*.egg-info
*/.DS_Store